body {
    background-color:#f3f3ad;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 46px;
    text-align: center;
    color: #f25929;
    text-transform:uppercase;
    word-spacing: 96px;
    letter-spacing: 15px;
    margin: 30px;
}
li {
    color: #636375;
    text-indent: 20px;
    font-family: sans-serif;
    font-size: 17px;
    margin: 14px 88px;
}

h2 {
    font-size: 1.7em;
    font-family:serif;
    font-weight: bolder;
    color: #df572c;
    text-indent: 20px;
    text-size-adjust:  1em;
    margin: 21px;
}

h2.countries-title {
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
}

ul {
    text-align: center;
}

.countries li {
    color: #795548;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    margin: 0 30px;
    font-size: 18px;
}